[submodule "pyheal/seal_wrapper/seal"]
	path = pyheal/seal_wrapper/seal
	url = https://github.com/CJRChang/SEAL
[submodule "pyheal/seal_wrapper/pybind11"]
	path = pyheal/seal_wrapper/pybind11
	url = https://github.com/pybind/pybind11
